/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
/* start header style*/
.header-style{
      text-align: center;
      background-image: url(images/bg-imsge.jpg);
      padding: 100px;
}
.link-button{
    text-decoration: none;
    background-color: tomato;
    padding: 10px 30px;
    font-weight: 700;
    color: white;
}
.service-details{
    text-align: center;
}
.service-items{
    display: flex;
    margin: 20px;
}
.service{
    box-shadow: 10px 10px 40px gray;
   width: 30%;
   margin-left: 5%;
   margin-right: 5%;
   padding-left: 20px;
   border-radius: 10px;
}
.cow-size{
    padding-bottom: 10px;
}
.form-area{
    text-align: center;
}